In [31]:
import numpy as np
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import StandardScaler

In [32]:
Data=pd.read_csv('/kaggle/input/dataset-for-bank-loan-prediction/credit_train.csv')
print('length of Data',len(Data))
Data.head()

length of Data 100514

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,Loan ID,Customer ID,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,14dd8831-6af5-400b-83ec-68e61888a048,981165ec-3274-42f5-a3b4-d104041a9ca9,Fully Paid,445412.0,Short Term,709.0,1167493.0,8 years,Home Mortgage,Home Improvements,5214.74,17.2,NaN,6.0,1.0,228190.0,416746.0,1.0,0.0
1,4771cc26-131a-45db-b5aa-537ea4ba5342,2de017a3-2e01-49cb-a581-08169e83be29,Fully Paid,262328.0,Short Term,NaN,NaN,10+ years,Home Mortgage,Debt Consolidation,33295.98,21.1,8.0,35.0,0.0,229976.0,850784.0,0.0,0.0
2,4eed4e6a-aa2f-4c91-8651-ce984ee8fb26,5efb2b2b-bf11-4dfd-a572-3761a2694725,Fully Paid,99999999.0,Short Term,741.0,2231892.0,8 years,Own Home,Debt Consolidation,29200.53,14.9,29.0,18.0,1.0,297996.0,750090.0,0.0,0.0
3,77598f7b-32e7-4e3b-a6e5-06ba0d98fe8a,e777faab-98ae-45af-9a86-7ce5b33b1011,Fully Paid,347666.0,Long Term,721.0,806949.0,3 years,Own Home,Debt Consolidation,8741.90,12.0,NaN,9.0,0.0,256329.0,386958.0,0.0,0.0
4,d4062e70-befa-4995-8643-a0de73938182,81536ad9-5ccf-4eb8-befb-47a4d608658e,Fully Paid,176220.0,Short Term,NaN,NaN,5 years,Rent,Debt Consolidation,20639.70,6.1,NaN,15.0,0.0,253460.0,427174.0,0.0,0.0

In [33]:
round((Data.isna().sum()/len(Data))*100,2)

Loan ID                          0.51
Customer ID                      0.51
Loan Status                      0.51
Current Loan Amount              0.51
Term                             0.51
Credit Score                    19.57
Annual Income                   19.57
Years in current job             4.71
Home Ownership                   0.51
Purpose                          0.51
Monthly Debt                     0.51
Years of Credit History          0.51
Months since last delinquent    53.38
Number of Open Accounts          0.51
Number of Credit Problems        0.51
Current Credit Balance           0.51
Maximum Open Credit              0.51
Bankruptcies                     0.71
Tax Liens                        0.52
dtype: float64

# **Analyzing column values to discretize data into numbers**

In [34]:
for column in Data.columns:
    print(column,'->',Data[column].unique(),'->',round(len(Data[column].unique())/1005,2),'%',end='\n\n\n')

Loan ID -> ['14dd8831-6af5-400b-83ec-68e61888a048'
 '4771cc26-131a-45db-b5aa-537ea4ba5342'
 '4eed4e6a-aa2f-4c91-8651-ce984ee8fb26' ...
 '81ab928b-d1a5-4523-9a3c-271ebb01b4fb'
 'c63916c6-6d46-47a9-949a-51d09af4414f' nan] -> 81.59 %


Customer ID -> ['981165ec-3274-42f5-a3b4-d104041a9ca9'
 '2de017a3-2e01-49cb-a581-08169e83be29'
 '5efb2b2b-bf11-4dfd-a572-3761a2694725' ...
 '3e45ffda-99fd-4cfc-b8b8-446f4a505f36'
 '1b3014be-5c07-4d41-abe7-44573c375886' nan] -> 81.59 %


Loan Status -> ['Fully Paid' 'Charged Off' nan] -> 0.0 %


Current Loan Amount -> [  445412.   262328. 99999999. ...   100254.   274076.       nan] -> 21.9 %


Term -> ['Short Term' 'Long Term' nan] -> 0.0 %


Credit Score -> [ 709.   nan  741.  721. 7290.  730.  678.  739.  728.  740.  743.  727.
  723.  747.  687.  750.  714.  724.  704.  688.  749.  746.  737.  729.
  733.  725.  745.  720.  718.  682. 7120.  680.  710.  598.  719. 6610.
  652.  736. 7380.  644.  672. 7370.  699.  751.  694.  675.  657.  748.
  666.  734.  742.  705.  731. 6240.  712.  685.  717.  722.  618.  676.
  692. 7210.  732.  649.  695.  744.  686.  637.  697.  706.  715.  707.
  726.  738. 7500.  716. 7020.  651.  708.  698.  689.  735.  703.  693.
 7080.  645.  691.  673.  700. 7140.  658.  674.  654. 7490.  681.  696.
  713.  668. 7360.  659. 7160.  647.  683.  670.  623.  711.  639.  671.
 6990.  614.  667.  701. 7410. 7310. 7040. 7060.  615. 7200.  656.  653.
  664.  613. 7450. 7300.  636.  702. 7430.  594. 7170.  646. 7000.  669.
 7280. 7090. 6970. 7460. 6920.  612. 7350. 7190.  690. 6690. 6750.  641.
  665.  677.  684.  655. 7010. 6530.  630. 7270.  663.  638.  596. 7420.
  660. 6810.  679. 7070. 7390. 7470.  609.  603. 6670. 6710. 6580. 6940.
 6800. 7110.  661. 7130.  643.  633. 5860. 6960.  629.  648. 7150. 6400.
 6830. 6360. 6650.  625. 6740.  635. 7260. 7480. 6980.  662.  640. 7250.
 7320.  627. 7180. 6640. 6780.  611. 6090.  604.  642. 7240.  621. 6550.
 6900. 6590. 6840. 6660. 7400.  632. 6760. 7340. 6860. 6870. 6680.  602.
 7220.  616.  600. 6460. 6500.  597. 6880. 6540.  622. 6100. 7330.  619.
  624. 7510. 6930. 6430. 6160.  628.  599. 7030. 6630. 7230.  606. 6890.
 6820. 6850. 7100. 6210. 6150. 7440. 6080.  650. 6200. 6570.  626. 6110.
 6560. 6730. 6410.  605. 6310. 5960.  589. 6350.  607. 6470. 6520. 6700.
  608.  631. 6950. 6720. 6290. 6770.  620. 6480. 6380. 7050. 6390.  590.
  634. 6910. 6620. 6370. 6600. 6250.  587.  588.  591.  617.  610. 6450.
 6010.  595.  601.  586. 6490. 6510. 5850.  585. 6300. 6790. 6330. 6130.
 6220. 6440. 6340. 6270. 6260. 6170. 5940. 5950. 6420. 6180.  592. 5900.
 6320. 6230. 6120. 6280.  593. 5920. 6140. 6070. 6190. 5930. 6060. 5890.
 6050.] -> 0.32 %


Annual Income -> [1167493.      nan 2231892. ... 2582404. 1190046. 1289416.] -> 36.0 %


Years in current job -> ['8 years' '10+ years' '3 years' '5 years' '< 1 year' '2 years' '4 years'
 '9 years' '7 years' '1 year' nan '6 years'] -> 0.01 %


Home Ownership -> ['Home Mortgage' 'Own Home' 'Rent' 'HaveMortgage' nan] -> 0.0 %


Purpose -> ['Home Improvements' 'Debt Consolidation' 'Buy House' 'other'
 'Business Loan' 'Buy a Car' 'major_purchase' 'Take a Trip' 'Other'
 'small_business' 'Medical Bills' 'wedding' 'vacation'
 'Educational Expenses' 'moving' 'renewable_energy' nan] -> 0.02 %


Monthly Debt -> [ 5214.74 33295.98 29200.53 ...  7315.57  9890.07      nan] -> 65.44 %


Years of Credit History -> [17.2 21.1 14.9 12.   6.1 17.3 19.6  8.2 22.6 13.9 16.  23.2  8.5 13.3
 24.7 19.4 20.5 22.  27.1 22.7 17.4 11.9 15.7 17.5 14.4 22.3 14.  20.
 43.7 18.  15.4 14.6 24.5 14.1 20.6 28.8 16.6 16.7 14.8 14.5 21.6 18.6
 17.8 20.9 17.  15.6 36.6 40.8 11.4  9.2 16.1 15.  18.3 12.1 31.5 19.3
 21.8 15.1 25.6 31.4 29.5 13.8 21.5  6.4 10.5 13.  19.  11.8 28.2 12.2
 44.5 27.4 20.4 22.4 29.1 31.3 17.9 14.2 25.9 14.7 23.3 19.7 10.  19.5
 11.  12.3 13.6 26.5 10.2 16.9  7.  12.5 15.9 10.7 13.4 20.7  9.  23.4
  9.5 34.4 18.4 23.5 14.3 50.1 13.2 33.1 23.9 13.5 43.3 24.  23.  16.2
 29.2 18.2 44.  21.  30.5  7.1  6.6 15.8 16.5 17.6 13.7 36.3 22.5  8.6
 15.5 10.8 18.7 30.9 17.1 16.3  4.9 21.4 11.1 11.7 10.3 18.5  8.7  9.9
 19.2 21.3 22.2 33.7 27.  18.8 13.1 15.2 15.3 21.2 20.8  9.7 11.5  9.3
 19.9 42.4 22.8 35.  24.1 36.4 30.6 12.8 23.8 25.5 38.5 24.4 12.4 10.1
 12.9 18.1 11.3  7.5 16.4 20.2  9.8 23.6 27.2 32.9  8.9 16.8 10.6 26.9
 11.2 40.3 20.1  8.  28.4 21.9 21.7 48.7 32.5  8.8 30.  22.9 26.  35.6
 28.9 12.6 38.  26.3 28.5 31.2 26.4  8.4 35.9 29.   8.3 24.3 25.7 33.5
 33.4 19.8 31.  19.1 30.8 27.7 32.2 38.3 32.4 29.9 22.1 26.7 29.8  9.4
 27.5 27.8  7.7 25.   9.6 10.9 17.7 31.8 12.7 27.6 37.1 37.4 24.2 31.7
 25.2 34.2 18.9  6.8 32.6 27.9 26.1 32.3  7.6 32.1  5.  23.1  5.8  5.5
 34.1 24.6 34.   7.9 10.4 28.1 20.3 24.9 39.  25.8 30.4 35.4  7.8 28.3
 34.3 28.6 38.9 39.4 11.6 32.7  9.1 26.2  6.2  5.4 40.1 28.7 45.3 36.
 29.3 34.5  7.4 33.  37.8  8.1 42.3 25.4 26.8  5.7  6.5  6.  39.6 38.8
 29.7  6.9 30.3  6.7 30.2 28.  26.6 31.9 39.9 24.8 37.  23.7  4.5 35.5
 46.2 42.7 32.8 46.9  4.2 41.5 38.7 29.4 30.7 33.9  7.3  5.3 43.5  5.2
 35.2 38.6  3.7 37.5 31.1 35.8 33.3  6.3 31.6 39.1 30.1 43.2 40.2 40.7
 32.  36.2 47.  25.3 34.9  5.9 34.7 48.9 33.6 39.5 29.6  4.4  7.2 46.3
 42.8 25.1 40.4 38.1 42.  46.  41.  41.1 44.6 42.5 33.2 50.9 41.2 34.8
 48.8 43.8 36.8 33.8 41.9 27.3 43.9 46.8 41.3 41.6 37.2 48.2 37.6 42.6
 41.7 39.3 46.1 46.7 41.4  3.6 38.2 36.5 40.  40.5 36.7  4.8 52.8 42.1
 40.6 35.3  5.6 46.5 37.3 53.2 45.5 42.9 38.4 37.7 44.3  5.1 35.7 34.6
 39.7 51.4  4.3 36.9 35.1 47.5 41.8 39.2 47.4 43.4  4.  39.8 44.1 43.
 37.9 44.4 36.1 48.3 51.  47.3  4.1 43.6 45.  49.9 49.6 49.   4.6 56.5
 43.1 45.1 45.6 65.  47.1 49.4 51.5 54.  46.4  3.9  4.7 47.9 45.8 52.9
 55.8 52.5 49.5 44.7 51.9 40.9  3.8 50.  44.8 48.5 45.4 70.5 42.2 59.5
 56.8 49.3 52.6 48.6 51.6 52.3 59.7 44.2 51.8 50.3 54.5 48.  45.2 47.8
 49.1 60.5 50.6 47.7 45.9 58.  46.6 50.4 50.5 50.8 53.4 57.7 45.7 53.8
 51.7 47.6 59.9 53.1 54.2 52.  57.  48.4 57.5 49.2 56.  50.2 49.8 49.7
 52.2 51.3  nan] -> 0.5 %


Months since last delinquent -> [ nan   8.  29.  10.  33.  76.  25.  46.  34.  53.  30.  32.  21.  50.
  20.  24.  15.   6.  13.  48.  69.  42.  35.   7.  27.   5.  26.  17.
  72.  65.   4.  11.  54.  31.  19.  41.  73.  60.  77.  18.   9.  80.
  70.  38.  47.  82.  74.   0.  16.  75.  61.  79.  62.  56.  64.  36.
  39.  59.  55.  37.  58.  68.  22.  45.  14.  51.  49.   1.  81.  63.
  71.  43.  40.  12.  52.   3.  66.  23.  57.  78.  44.   2.  28.  88.
  67.  85.  89. 118.  83. 152. 120.  92.  86.  94. 110.  93.  97.  84.
 130. 129. 106.  90. 107. 176. 108.  87. 139. 143. 114.  91. 104. 115.
 100. 148. 141.  96. 131.] -> 0.12 %


Number of Open Accounts -> [ 6. 35. 18.  9. 15. 13.  4. 20. 16. 23. 10.  8.  7. 12. 17.  5. 14. 11.
 34. 22. 19.  2. 32. 21.  3. 25. 28. 24. 43.  1. 30. 27. 26. 36. 31. 29.
 45. 37. 33. 38. 40. 41. 47. 48. 39.  0. 56. 42. 44. 52. 76. nan] -> 0.05 %


Number of Credit Problems -> [ 1.  0.  2.  5.  4.  3.  7.  6. 11. 15. 10.  8.  9. 12. nan] -> 0.01 %


Current Credit Balance -> [228190. 229976. 297996. ... 804175. 850820.     nan] -> 32.57 %


Maximum Open Credit -> [ 416746.  850784.  750090. ... 1287792. 2299198.  892606.] -> 44.38 %


Bankruptcies -> [ 1.  0.  2.  3. nan  5.  4.  7.  6.] -> 0.01 %


Tax Liens -> [ 0.  1.  2.  4.  3.  6.  5. nan 11. 15.  9.  7. 10.] -> 0.01 %

# Gathered Important features for predictions include:

* Loan Status
* Current loan Amount
* Term
* Credit Score
* Annual income
* Years in current job
* Home Ownership
* Purpose
* Monthly dept
* Number of open accounts
* current credit balance
* bankruptcies
* Tax Liens

In [35]:
Data.drop(['Loan ID','Customer ID','Number of Credit Problems','Months since last delinquent','Years of Credit History','Maximum Open Credit'],axis=1,inplace=True)

In [36]:
Data.head(10)

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Number of Open Accounts,Current Credit Balance,Bankruptcies,Tax Liens
0,Fully Paid,445412.0,Short Term,709.0,1167493.0,8 years,Home Mortgage,Home Improvements,5214.74,6.0,228190.0,1.0,0.0
1,Fully Paid,262328.0,Short Term,NaN,NaN,10+ years,Home Mortgage,Debt Consolidation,33295.98,35.0,229976.0,0.0,0.0
2,Fully Paid,99999999.0,Short Term,741.0,2231892.0,8 years,Own Home,Debt Consolidation,29200.53,18.0,297996.0,0.0,0.0
3,Fully Paid,347666.0,Long Term,721.0,806949.0,3 years,Own Home,Debt Consolidation,8741.90,9.0,256329.0,0.0,0.0
4,Fully Paid,176220.0,Short Term,NaN,NaN,5 years,Rent,Debt Consolidation,20639.70,15.0,253460.0,0.0,0.0
5,Charged Off,206602.0,Short Term,7290.0,896857.0,10+ years,Home Mortgage,Debt Consolidation,16367.74,6.0,215308.0,0.0,0.0
6,Fully Paid,217646.0,Short Term,730.0,1184194.0,< 1 year,Home Mortgage,Debt Consolidation,10855.08,13.0,122170.0,1.0,0.0
7,Charged Off,648714.0,Long Term,NaN,NaN,< 1 year,Home Mortgage,Buy House,14806.13,15.0,193306.0,0.0,0.0
8,Fully Paid,548746.0,Short Term,678.0,2559110.0,2 years,Rent,Debt Consolidation,18660.28,4.0,437171.0,0.0,0.0
9,Fully Paid,215952.0,Short Term,739.0,1454735.0,< 1 year,Rent,Debt Consolidation,39277.75,20.0,669560.0,0.0,0.0

# Encoding Columns string to numerical values

* Loan Status
* Term
* Years in current job
* Home Ownership
* Purpose

In [37]:
Data['Loan Status']=Data['Loan Status'].replace({'Fully Paid':1, 'Charged Off':0})
Data['Term']=Data['Term'].replace({'Short Term':1 ,'Long Term':2})
Data['Years in current job']=Data['Years in current job'].replace({'8 years':8, '10+ years':11 ,'3 years':3 ,'5 years':5 ,'< 1 year':1,'2 years':2 ,'4 years':4 ,'9 years':9 ,'7 years':7 ,'1 year':1 ,'6 years':6})
Data['Home Ownership']=Data['Home Ownership'].replace({'Home Mortgage':1 ,'Own Home':2 ,'Rent':3 ,'HaveMortgage':4})
Data['Purpose']=Data['Purpose'].replace({'Home Improvements':1 ,'Debt Consolidation':2 ,'Buy House':3 ,'other':4 ,'Business Loan':5 ,'Buy a Car':6 ,'major_purchase':7 ,'Take a Trip':8 ,'Other':9 ,'small_business':10 ,'Medical Bills':11 ,'wedding':12 ,'vacation':13 ,'Educational Expenses':14 ,'moving':15 ,'renewable_energy':16})

/tmp/ipykernel_35/521676003.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  Data['Loan Status']=Data['Loan Status'].replace({'Fully Paid':1, 'Charged Off':0})
/tmp/ipykernel_35/521676003.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  Data['Term']=Data['Term'].replace({'Short Term':1 ,'Long Term':2})
/tmp/ipykernel_35/521676003.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  Data['Years in current job']=Data['Years in current job'].replace({'8 years':8, '10+ years':11 ,'3 years':3 ,'5 years':5 ,'< 1 year':1,'2 years':2 ,'4 years':4 ,'9 years':9 ,'7 years':7 ,'1 year':1 ,'6 years':6})
/tmp/ipykernel_35/521676003.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  Data['Home Ownership']=Data['Home Ownership'].replace({'Home Mortgage':1 ,'Own Home':2 ,'Rent':3 ,'HaveMortgage':4})
/tmp/ipykernel_35/521676003.py:5: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  Data['Purpose']=Data['Purpose'].replace({'Home Improvements':1 ,'Debt Consolidation':2 ,'Buy House':3 ,'other':4 ,'Business Loan':5 ,'Buy a Car':6 ,'major_purchase':7 ,'Take a Trip':8 ,'Other':9 ,'small_business':10 ,'Medical Bills':11 ,'wedding':12 ,'vacation':13 ,'Educational Expenses':14 ,'moving':15 ,'renewable_energy':16})

In [38]:
Data.head(10)

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Number of Open Accounts,Current Credit Balance,Bankruptcies,Tax Liens
0,1.0,445412.0,1.0,709.0,1167493.0,8.0,1.0,1.0,5214.74,6.0,228190.0,1.0,0.0
1,1.0,262328.0,1.0,NaN,NaN,11.0,1.0,2.0,33295.98,35.0,229976.0,0.0,0.0
2,1.0,99999999.0,1.0,741.0,2231892.0,8.0,2.0,2.0,29200.53,18.0,297996.0,0.0,0.0
3,1.0,347666.0,2.0,721.0,806949.0,3.0,2.0,2.0,8741.90,9.0,256329.0,0.0,0.0
4,1.0,176220.0,1.0,NaN,NaN,5.0,3.0,2.0,20639.70,15.0,253460.0,0.0,0.0
5,0.0,206602.0,1.0,7290.0,896857.0,11.0,1.0,2.0,16367.74,6.0,215308.0,0.0,0.0
6,1.0,217646.0,1.0,730.0,1184194.0,1.0,1.0,2.0,10855.08,13.0,122170.0,1.0,0.0
7,0.0,648714.0,2.0,NaN,NaN,1.0,1.0,3.0,14806.13,15.0,193306.0,0.0,0.0
8,1.0,548746.0,1.0,678.0,2559110.0,2.0,3.0,2.0,18660.28,4.0,437171.0,0.0,0.0
9,1.0,215952.0,1.0,739.0,1454735.0,1.0,3.0,2.0,39277.75,20.0,669560.0,0.0,0.0

# Removing Outliers

In [39]:
for col in ['Current Loan Amount','Credit Score','Annual Income','Monthly Debt','Current Credit Balance','Bankruptcies','Tax Liens']:
    Q1 = Data[col].quantile(0.25)
    Q3 = Data[col].quantile(0.75)
    IQR = Q3 - Q1
    lower = Q1 - 1.5 * IQR
    upper = Q3 + 1.5 * IQR
    
    Data[col] = Data[col].where((Data[col] >= lower) & (Data[col] <= upper), np.nan)

/usr/local/lib/python3.11/dist-packages/pandas/core/computation/expressions.py:73: RuntimeWarning: invalid value encountered in greater_equal
  return op(a, b)
/usr/local/lib/python3.11/dist-packages/pandas/core/computation/expressions.py:73: RuntimeWarning: invalid value encountered in less_equal
  return op(a, b)
/usr/local/lib/python3.11/dist-packages/pandas/core/computation/expressions.py:73: RuntimeWarning: invalid value encountered in greater_equal
  return op(a, b)
/usr/local/lib/python3.11/dist-packages/pandas/core/computation/expressions.py:73: RuntimeWarning: invalid value encountered in less_equal
  return op(a, b)
/usr/local/lib/python3.11/dist-packages/pandas/core/computation/expressions.py:73: RuntimeWarning: invalid value encountered in greater_equal
  return op(a, b)
/usr/local/lib/python3.11/dist-packages/pandas/core/computation/expressions.py:73: RuntimeWarning: invalid value encountered in less_equal
  return op(a, b)
/usr/local/lib/python3.11/dist-packages/pandas/core/computation/expressions.py:73: RuntimeWarning: invalid value encountered in greater_equal
  return op(a, b)
/usr/local/lib/python3.11/dist-packages/pandas/core/computation/expressions.py:73: RuntimeWarning: invalid value encountered in less_equal
  return op(a, b)
/usr/local/lib/python3.11/dist-packages/pandas/core/computation/expressions.py:73: RuntimeWarning: invalid value encountered in greater_equal
  return op(a, b)
/usr/local/lib/python3.11/dist-packages/pandas/core/computation/expressions.py:73: RuntimeWarning: invalid value encountered in less_equal
  return op(a, b)
/usr/local/lib/python3.11/dist-packages/pandas/core/computation/expressions.py:73: RuntimeWarning: invalid value encountered in greater_equal
  return op(a, b)
/usr/local/lib/python3.11/dist-packages/pandas/core/computation/expressions.py:73: RuntimeWarning: invalid value encountered in less_equal
  return op(a, b)
/usr/local/lib/python3.11/dist-packages/pandas/core/computation/expressions.py:73: RuntimeWarning: invalid value encountered in greater_equal
  return op(a, b)
/usr/local/lib/python3.11/dist-packages/pandas/core/computation/expressions.py:73: RuntimeWarning: invalid value encountered in less_equal
  return op(a, b)

# Removing NaN values

In [40]:
Data.dropna(inplace=True)

In [41]:
print('Length of filtered Data:',len(Data))
Data.head()

Length of filtered Data: 46720

,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Number of Open Accounts,Current Credit Balance,Bankruptcies,Tax Liens
3,1.0,347666.0,2.0,721.0,806949.0,3.0,2.0,2.0,8741.90,9.0,256329.0,0.0,0.0
8,1.0,548746.0,1.0,678.0,2559110.0,2.0,3.0,2.0,18660.28,4.0,437171.0,0.0,0.0
9,1.0,215952.0,1.0,739.0,1454735.0,1.0,3.0,2.0,39277.75,20.0,669560.0,0.0,0.0
19,1.0,390390.0,1.0,747.0,1791738.0,8.0,1.0,1.0,2478.55,6.0,121182.0,0.0,0.0
20,0.0,317108.0,2.0,687.0,1133274.0,8.0,3.0,2.0,9632.81,4.0,60287.0,0.0,0.0

# Normalizing large values

In [42]:
for col in ['Current Loan Amount','Credit Score','Annual Income','Monthly Debt','Current Credit Balance']:
    Data[col]=Data[col]/(Data[col].mean()+Data[col].min())/2

In [43]:
Data.head(10)

,Loan Status,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Number of Open Accounts,Current Credit Balance,Bankruptcies,Tax Liens
3,1.0,0.554398,2.0,0.263189,0.311900,3.0,2.0,2.0,0.262192,9.0,0.523360,0.0,0.0
8,1.0,0.875046,1.0,0.247492,0.989140,2.0,3.0,2.0,0.559670,4.0,0.892594,0.0,0.0
9,1.0,0.344363,1.0,0.269759,0.562280,1.0,3.0,2.0,1.178042,20.0,1.367074,0.0,0.0
19,1.0,0.622527,1.0,0.272680,0.692538,8.0,1.0,1.0,0.074338,6.0,0.247423,0.0,0.0
20,0.0,0.505669,2.0,0.250778,0.438030,8.0,3.0,2.0,0.288913,4.0,0.123091,0.0,0.0
21,1.0,0.204492,1.0,0.273775,0.523372,1.0,3.0,2.0,0.395967,7.0,0.269380,0.0,0.0
23,1.0,0.146537,1.0,0.264284,0.328688,11.0,1.0,2.0,0.175779,7.0,0.195208,0.0,0.0
25,1.0,0.742156,2.0,0.251143,0.665835,3.0,3.0,3.0,0.469308,7.0,0.219609,0.0,0.0
27,1.0,0.707951,1.0,0.273410,0.553644,2.0,1.0,2.0,0.755400,15.0,0.699248,0.0,0.0
31,1.0,0.533594,1.0,0.266109,0.521265,2.0,3.0,2.0,0.507294,16.0,0.639429,0.0,0.0

# Designing Model

In [44]:
Model=tf.keras.Sequential([
    tf.keras.layers.Dense(32,activation='relu'),
    tf.keras.layers.Dense(64,activation='relu'),
    tf.keras.layers.Dense(16,activation='relu'),
    tf.keras.layers.Dense(1,activation='sigmoid')
])

In [45]:
Model.compile(
    optimizer='adam',
    loss='binary_crossentropy',
    metrics=['accuracy']
)

# Gathering X, Y from Filtered Dataset

In [46]:
Y=Data['Loan Status']
X=Data.drop(['Loan Status'],axis=1)

In [47]:
X.head()

,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Number of Open Accounts,Current Credit Balance,Bankruptcies,Tax Liens
3,0.554398,2.0,0.263189,0.311900,3.0,2.0,2.0,0.262192,9.0,0.523360,0.0,0.0
8,0.875046,1.0,0.247492,0.989140,2.0,3.0,2.0,0.559670,4.0,0.892594,0.0,0.0
9,0.344363,1.0,0.269759,0.562280,1.0,3.0,2.0,1.178042,20.0,1.367074,0.0,0.0
19,0.622527,1.0,0.272680,0.692538,8.0,1.0,1.0,0.074338,6.0,0.247423,0.0,0.0
20,0.505669,2.0,0.250778,0.438030,8.0,3.0,2.0,0.288913,4.0,0.123091,0.0,0.0

In [48]:
Y

3        1.0
8        1.0
9        1.0
19       1.0
20       0.0
        ...
99985    1.0
99987    1.0
99994    1.0
99995    1.0
99998    1.0
Name: Loan Status, Length: 46720, dtype: float64

# Training Model

In [49]:
Model.fit(X,Y,batch_size=32,epochs=10)

Epoch 1/10
1460/1460  5s 2ms/step - accuracy: 0.8073 - loss: 0.5017
Epoch 2/10
1460/1460  3s 2ms/step - accuracy: 0.8101 - loss: 0.4851
Epoch 3/10
1460/1460  3s 2ms/step - accuracy: 0.8033 - loss: 0.4904
Epoch 4/10
1460/1460  3s 2ms/step - accuracy: 0.8095 - loss: 0.4806
Epoch 5/10
1460/1460  3s 2ms/step - accuracy: 0.8058 - loss: 0.4849
Epoch 6/10
1460/1460  3s 2ms/step - accuracy: 0.8111 - loss: 0.4759
Epoch 7/10
1460/1460  3s 2ms/step - accuracy: 0.8086 - loss: 0.4795
Epoch 8/10
1460/1460  3s 2ms/step - accuracy: 0.8070 - loss: 0.4811
Epoch 9/10
1460/1460  3s 2ms/step - accuracy: 0.8079 - loss: 0.4788
Epoch 10/10
1460/1460  3s 2ms/step - accuracy: 0.8069 - loss: 0.4807

# Validating Model

In [50]:
TestData=pd.read_csv('/kaggle/input/dataset-for-bank-loan-prediction/credit_test.csv')
TestData.head()

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,Loan ID,Customer ID,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Years of Credit History,Months since last delinquent,Number of Open Accounts,Number of Credit Problems,Current Credit Balance,Maximum Open Credit,Bankruptcies,Tax Liens
0,f738779f-c726-40dc-92cf-689d73af533d,ded0b3c3-6bf4-4091-8726-47039f2c1b90,611314.0,Short Term,747.0,2074116.0,10+ years,Home Mortgage,Debt Consolidation,42000.83,21.8,NaN,9.0,0.0,621908.0,1058970.0,0.0,0.0
1,6dcc0947-164d-476c-a1de-3ae7283dde0a,1630e6e3-34e3-461a-8fda-09297d3140c8,266662.0,Short Term,734.0,1919190.0,10+ years,Home Mortgage,Debt Consolidation,36624.40,19.4,NaN,11.0,0.0,679573.0,904442.0,0.0,0.0
2,f7744d01-894b-49c3-8777-fc6431a2cff1,2c60938b-ad2b-4702-804d-eeca43949c52,153494.0,Short Term,709.0,871112.0,2 years,Rent,Debt Consolidation,8391.73,12.5,10.0,10.0,0.0,38532.0,388036.0,0.0,0.0
3,83721ffb-b99a-4a0f-aea5-ef472a138b41,12116614-2f3c-4d16-ad34-d92883718806,176242.0,Short Term,727.0,780083.0,10+ years,Rent,Debt Consolidation,16771.87,16.5,27.0,16.0,1.0,156940.0,531322.0,1.0,0.0
4,08f3789f-5714-4b10-929d-e1527ab5e5a3,39888105-fd5f-4023-860a-30a3e6f5ccb7,321992.0,Short Term,744.0,1761148.0,10+ years,Home Mortgage,Debt Consolidation,39478.77,26.0,44.0,14.0,0.0,359765.0,468072.0,0.0,0.0

In [51]:
TestData['Term']=TestData['Term'].replace({'Short Term':1 ,'Long Term':2})
TestData['Years in current job']=TestData['Years in current job'].replace({'8 years':8, '10+ years':11 ,'3 years':3 ,'5 years':5 ,'< 1 year':1,'2 years':2 ,'4 years':4 ,'9 years':9 ,'7 years':7 ,'1 year':1 ,'6 years':6})
TestData['Home Ownership']=TestData['Home Ownership'].replace({'Home Mortgage':1 ,'Own Home':2 ,'Rent':3 ,'HaveMortgage':4})
TestData['Purpose']=TestData['Purpose'].replace({'Home Improvements':1 ,'Debt Consolidation':2 ,'Buy House':3 ,'other':4 ,'Business Loan':5 ,'Buy a Car':6 ,'major_purchase':7 ,'Take a Trip':8 ,'Other':9 ,'small_business':10 ,'Medical Bills':11 ,'wedding':12 ,'vacation':13 ,'Educational Expenses':14 ,'moving':15 ,'renewable_energy':16})

/tmp/ipykernel_35/729062061.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  TestData['Term']=TestData['Term'].replace({'Short Term':1 ,'Long Term':2})
/tmp/ipykernel_35/729062061.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  TestData['Years in current job']=TestData['Years in current job'].replace({'8 years':8, '10+ years':11 ,'3 years':3 ,'5 years':5 ,'< 1 year':1,'2 years':2 ,'4 years':4 ,'9 years':9 ,'7 years':7 ,'1 year':1 ,'6 years':6})
/tmp/ipykernel_35/729062061.py:3: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  TestData['Home Ownership']=TestData['Home Ownership'].replace({'Home Mortgage':1 ,'Own Home':2 ,'Rent':3 ,'HaveMortgage':4})
/tmp/ipykernel_35/729062061.py:4: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  TestData['Purpose']=TestData['Purpose'].replace({'Home Improvements':1 ,'Debt Consolidation':2 ,'Buy House':3 ,'other':4 ,'Business Loan':5 ,'Buy a Car':6 ,'major_purchase':7 ,'Take a Trip':8 ,'Other':9 ,'small_business':10 ,'Medical Bills':11 ,'wedding':12 ,'vacation':13 ,'Educational Expenses':14 ,'moving':15 ,'renewable_energy':16})

In [52]:
TestData.drop(['Loan ID','Customer ID','Number of Credit Problems','Months since last delinquent','Years of Credit History','Maximum Open Credit'],axis=1,inplace=True)
for col in ['Current Loan Amount','Credit Score','Annual Income','Monthly Debt','Current Credit Balance','Bankruptcies','Tax Liens']:
    Q1 = TestData[col].quantile(0.25)
    Q3 = TestData[col].quantile(0.75)
    IQR = Q3 - Q1
    lower = Q1 - 1.5 * IQR
    upper = Q3 + 1.5 * IQR
    
    TestData[col] = TestData[col].where((TestData[col] >= lower) & (TestData[col] <= upper), np.nan)

/usr/local/lib/python3.11/dist-packages/pandas/core/computation/expressions.py:73: RuntimeWarning: invalid value encountered in greater_equal
  return op(a, b)
/usr/local/lib/python3.11/dist-packages/pandas/core/computation/expressions.py:73: RuntimeWarning: invalid value encountered in less_equal
  return op(a, b)
/usr/local/lib/python3.11/dist-packages/pandas/core/computation/expressions.py:73: RuntimeWarning: invalid value encountered in greater_equal
  return op(a, b)
/usr/local/lib/python3.11/dist-packages/pandas/core/computation/expressions.py:73: RuntimeWarning: invalid value encountered in less_equal
  return op(a, b)
/usr/local/lib/python3.11/dist-packages/pandas/core/computation/expressions.py:73: RuntimeWarning: invalid value encountered in greater_equal
  return op(a, b)
/usr/local/lib/python3.11/dist-packages/pandas/core/computation/expressions.py:73: RuntimeWarning: invalid value encountered in less_equal
  return op(a, b)
/usr/local/lib/python3.11/dist-packages/pandas/core/computation/expressions.py:73: RuntimeWarning: invalid value encountered in greater_equal
  return op(a, b)
/usr/local/lib/python3.11/dist-packages/pandas/core/computation/expressions.py:73: RuntimeWarning: invalid value encountered in less_equal
  return op(a, b)
/usr/local/lib/python3.11/dist-packages/pandas/core/computation/expressions.py:73: RuntimeWarning: invalid value encountered in greater_equal
  return op(a, b)
/usr/local/lib/python3.11/dist-packages/pandas/core/computation/expressions.py:73: RuntimeWarning: invalid value encountered in less_equal
  return op(a, b)
/usr/local/lib/python3.11/dist-packages/pandas/core/computation/expressions.py:73: RuntimeWarning: invalid value encountered in greater_equal
  return op(a, b)
/usr/local/lib/python3.11/dist-packages/pandas/core/computation/expressions.py:73: RuntimeWarning: invalid value encountered in less_equal
  return op(a, b)
/usr/local/lib/python3.11/dist-packages/pandas/core/computation/expressions.py:73: RuntimeWarning: invalid value encountered in greater_equal
  return op(a, b)
/usr/local/lib/python3.11/dist-packages/pandas/core/computation/expressions.py:73: RuntimeWarning: invalid value encountered in less_equal
  return op(a, b)

In [53]:
TestData.dropna(inplace=True)

for col in ['Current Loan Amount','Credit Score','Annual Income','Monthly Debt','Current Credit Balance']:
    TestData[col]=TestData[col]/(TestData[col].mean()+TestData[col].min())/2

In [54]:
print('Length of filtered TestData:',len(TestData))
TestData.head()

Length of filtered TestData: 4659

,Current Loan Amount,Term,Credit Score,Annual Income,Years in current job,Home Ownership,Purpose,Monthly Debt,Number of Open Accounts,Current Credit Balance,Bankruptcies,Tax Liens
0,0.958682,1.0,0.271986,0.793066,11.0,1.0,2.0,1.249057,9.0,1.279134,0.0,0.0
1,0.418188,1.0,0.267253,0.733828,11.0,1.0,2.0,1.089168,11.0,1.397739,0.0,0.0
2,0.240714,1.0,0.258150,0.333081,2.0,3.0,2.0,0.249561,10.0,0.079252,0.0,0.0
4,0.504958,1.0,0.270894,0.673398,11.0,1.0,2.0,1.174054,14.0,0.739961,0.0,0.0
5,0.318238,1.0,0.269801,0.290741,1.0,3.0,2.0,0.194096,6.0,0.531982,0.0,0.0

In [55]:
predictions=Model.predict(TestData)

146/146  0s 2ms/step

In [56]:
predictions=(predictions > 0.5).astype(int)

In [59]:
predictions[-200:]

array([[1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1],
       [1]])